@import './Auth.scss';
@import './Board/Board.scss';
@import './Board/TopMenu.scss';
@import './Board/AccountInfo.scss';
@import './Board/NextGameWait.scss';
@import './Board/Questions.scss';
@import './Board/AdditionLife.scss';
@import './Board/WinPage.scss';
@import './Board/Winners.scss';
@import './Board/HowToPlay.scss';
@import './Board/FAQ.scss';
@import './Board/SingleNews.scss';
@import './Board/InviteFriends.scss';
@import './Board/WrongAnswer.scss';

@import './common/Icons.scss';
@import './common/Inputs.scss';
@import './common/Buttons.scss';


body{
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main-bg{
	background: url('../img/bg.svg');
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
}